body{
    font-size: 16px;
}

.careerCard{
    margin: 0 auto 70px;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    padding: 30px 30px 20px;
    width: 100% !important;
    margin-left: 0 !important;
}
ul li{
    direction:rtl;
    margin-right: 3%;
}

.styleHr {
	border-top: 1px solid #8c8b8b;
	border-bottom: 1px solid #fff;
}

form{
    direction: rtl;
}

.col-form-label{
    text-align: center; 
}
span{
    text-align: right;
}